<launch>
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch"/>
    
    <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch">
        <arg name="slam_methods" value="gmapping"/>
    </include>

    <node name = "auto_move_node"
        type = "auto_move_node"
        pkg = "auto_move"/>

</launch> 