<launch>
    <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch">
        <arg name="map_file" value="/home/$(env USER)/Downloads/map.yaml"/>
    </include>

    <rosparam command="load" file="/tmp/stop_position.yaml" />

    <node pkg = "my_tbot3_nav" type = "nav_prototype_init_node" name = "nav_prototype_init_node"/>

    <include file="$(find timed_roslaunch)/timed_roslaunch.launch">
        <arg name="time" value="5" />
        <arg name="pkg" value="my_tbot3_nav" />
        <arg name="file" value="auto_move.launch" />
    </include>

</launch>